@page
@model ShopManagement.Web.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Create Product";

}

<h2>Create Product</h2>

<form method="post">
    <div class="mb-3">
        <label>Sku</label>
        <input asp-for="Product.Sku" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Product.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Description</label>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label>Price Buy</label>
        <input asp-for="Product.PriceBuy" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Price Sell</label>
        <input asp-for="Product.PriceSell" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Image Url</label>
        <input asp-for="Product.ImageUrl" class="form-control" />
    </div>

    <div class="form-group">
        <label>Variants</label>
        <table class="table" id="variantsTable">
            <thead>
                <tr>
                    <th>Variant Name</th>
                    <th>SKU</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                }
                @foreach (var pro in Model.Product.Variants)
                {
                    <tr>
                        <td>
                            <input name="Product.Variants[@i].VariantName" value="@pro.VariantName" class="form-control" />
                        </td>
                        <td>
                            <input name="Product.Variants[@i].Sku" value="@pro.Sku" class="form-control" />
                        </td>
                        <td>
                            <input name="Product.Variants[@i].Stock" value="@pro.Stock" type="number" class="form-control" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger remove-variant">X</button>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="addVariant">+ Add Variant</button>
    </div>
    <div class="form-group">
        <h4>Product Images</h4>
        <table class="table" id="imagesTable">
            <thead>
                <tr>
                    <th>Image URL</th>
                    <th>Sort Order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var idx = 0;
                }
                @foreach (var pro in Model.Product.Images)
                {
                    <tr>
                        <td>
                            <input name="Product.Images[@idx].ImageUrl" value="@pro.ImageUrl" class="form-control" />
                        </td>
                        <td>
                            <input name="Product.Images[@idx].SortOrder" value="@pro.SortOrder" type="number" class="form-control" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger remove-image">X</button>
                        </td>
                    </tr>
                    idx++;
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="addImage">+ Add Image</button>

    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="Product" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts {
    <script>
            document.getElementById("addVariant").addEventListener("click", function () {
            var table = document.getElementById("variantsTable").getElementsByTagName('tbody')[0];
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            row.innerHTML = `
                <td><input name="Product.Variants[${rowCount}].VariantName" class="form-control" /></td>
                <td><input name="Product.Variants[${rowCount}].Sku" class="form-control" /></td>
                <td><input name="Product.Variants[${rowCount}].Stock" type="number" class="form-control" /></td>
                <td><button type="button" class="btn btn-danger remove-variant">X</button></td>
            `;
        });

        document.addEventListener("click", function (e) {
            if (e.target && e.target.classList.contains("remove-variant")) {
                e.target.closest("tr").remove();
            }
        });

        document.getElementById("addImage").addEventListener("click", function () {
            var table = document.getElementById("imagesTable").getElementsByTagName('tbody')[0];
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            row.innerHTML = `
                <td><input name="Product.Images[${rowCount}].ImageUrl" class="form-control" /></td>
                <td><input name="Product.Images[${rowCount}].SortOrder" type="number" class="form-control" /></td>
                <td><button type="button" class="btn btn-danger remove-variant">X</button></td>
            `;
        });

        document.addEventListener("click", function (e) {
            if (e.target && e.target.classList.contains("remove-image")) {
                e.target.closest("tr").remove();
            }
        });
    </script>
}