@page "/products"
@model ShopManagement.Web.Pages.Products.ProductModel
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}
@section Styles {
    <link rel="stylesheet" href="~/Pages/Css/Product.css" />
}

<h2>@ViewData["Title"]</h2>


<div class="row mb-4">
    <div class="col-md-6">
        <form method="get">
            <div class="input-group">
                <input type="text" name="SearchTerm" value="@Model.SearchTerm"
                       class="form-control" placeholder="Tìm kiếm sản phẩm..." />
                <button type="submit" class="btn btn-primary">Tìm</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100 shadow-sm">
                @if (@product.Variants != null && product.Images.Any())
                {
                    <img src="@product.Images[0].ImageUrl" class="card-img-top" alt="@product.Name" style="height:650px; object-fit:cover;" />
                }
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text text-muted">@product.Description</p>

                    <!-- Giá chung (nếu có) -->
                    <p class="fw-bold text-danger">@product.PriceSell.ToString("N0") ₫</p>

                    <!-- Thông tin variants -->
                    @if (@product.Variants != null && product.Variants.Any())
                    {
                        <ul class="list-unstyled small text-muted">
                            @foreach (var variant in product.Variants)
                            {
                                <li>
                                    <span class="fw-semibold">@variant.VariantName</span>
                                    - SL: @variant.Stock
                                </li>
                            }
                        </ul>
                    }

                    <div class="mt-auto d-flex justify-content-between">
                        <a asp-page="./Detail" asp-route-id="@product.Id"
                           class="btn btn-primary flex-fill me-2">Xem chi tiết</a>

                        @if (Model.CanEdit)
                        {
                            <a asp-page="./Edit2" asp-route-id="@product.Id"
                               class="btn btn-warning flex-fill">Edit</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

